@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


  
.menu-item{
  font-family:  'Roboto';
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-size: medium;
}

.menu-item a{
  color: black;
  text-decoration: none;
}






.nav-item{

  display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}




.description-header{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 20px;
padding-bottom: 25px;
}

.description{
  font-family: 'Roboto';
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  max-width: 550px;
}

.description-sub{
  font-family:  'Roboto';
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 20px;
color: #000000;

}


.uppersection{
  align-items: center;
  padding:20px 30px 0px 30px;
}

.rightside-2{
  font-family:  'Roboto';
  background: #FFFFFF;
border: 1px solid #FF1500;

}
.quiz{
  font-family:  'Roboto';
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  text-align: center;
  font-size: 17px;
  padding: 0px 0px 10px 0px;
}

.quiz-sub{
  font-family:  'Roboto';
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-size: 17px;

}
.prepaerd-section{
  padding:20px 30px 50px 30px;
 background-color: #FF1500;
}

.prepaerd-section-title{
  font-family:  'Roboto';
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  
}

.requierd{
  float: right;
  color: wheat;
  font-size: 12px;
}

.input-field{
  width: 100%;
  padding: 5px 0px 5px 7px;
  margin: 5px 0px 5px 0px;
  border:none;
  
}

::placeholder {
  font-family:  'Roboto';
  font-size: 12px;

}

.country{
  padding: 15px 0px 15px 0px;
}

.radio-label{
  color: white;
  font-weight: 500;
}
.c-color{
  color: white;
  font-weight: 500;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  /* top: -0.2em; */
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #FF1500;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.take-button{
  color: #FF1500;
  font-weight: 800;
  padding: 8px 10px 8px 10px;
  background-color: white;
  text-transform: uppercase;
  border-radius: 50px;
  width: 100%;
  border: none;
  font-size: 18px;
  margin: 10px 0px 20px 0px;
}

.termandcondition{
  text-align: center;
  color: white;
  font-size: 12px;
}

.termandcondition-underline{
  text-decoration:none;
  color: white;
  font-size: 12px;
}

.termandcondition-underline a{

  color: white;
 
}



.winbackpack{
color: #FF1500;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
padding: 25px 0px 10px 50px;
line-height: normal;

  
}

.redbcross-bag{

  width: 80%;
  float: right;    
  z-index: -1;
   margin-top: -50px;

}


.tbwinbackpack{
  width: 50%;
}


.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: normal;
}

.flex-items2:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items2:nth-child(2) {
  width: 49%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


.category-card{

  padding: 0px 0px 40px 0px;
}
.category-title{
text-align: center;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.02em;
text-transform: uppercase;
padding: 20px 10px 40px 10px;
}


.items{
  width:90%;
  margin:0px auto;
  margin-top: 100px;
}
.slick-slide{
  margin:10px;
}


.baseon{
 align-items: center;
  text-align: center;
  width: fit-content;
  margin-left: auto;
    margin-right: auto;
  padding: 10px 8px 10px 8px;
  background: #ffffff;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
border: none;
margin-bottom: 40px;

}

.card-p{
  padding: 40px 20px 50px 20px;
height: 20vmax;
}

.card{
  background: #FFFFFF;
  border: 1px solid #FF0000;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.card-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.des{
  text-align: center;
  font-family: 'Roboto';
  
}

.desc{
  position: relative;
  top: 30%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

}

.swiper-navBtn{
  color: #FF0000;
font-size: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #FF0000 !important;
}

.aboutus{
  background: #FFFFFF;
box-shadow: 0px 7px 19px rgba(0, 0, 0, 0.25);
border-radius: 5px 0px 0px 5px;
margin-top: 80px;
margin-bottom: 50px;

}

.about-img{
  width: 100%;
  height: 300px;
}

.about-left{
  padding: 50px 60px 50px 70px;

}

.about-title{
  font-family: 'Roboto';
  font-style: normal;
font-weight: 600;
font-size: 25px;
padding-bottom:15px;
}

.about-description{
  font-family: 'Roboto';
font-style: normal;
font-size: 16px;
color: #696969;
line-height: 21px;
letter-spacing: 0.02em;
max-width: 500px;


}



.footer{
  background: #FF0000;
  padding: 30px 0px 30px 0px;
}

.copyright{
  text-align: center;
  font-family: 'Roboto';
  color: #ffffff;
  padding: 30px 0px 0px 0px;

}

.copyright a{
  color: #ffffff;
  text-decoration: none;
}



.flex-container-socialmedia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: normal;
}

.flex-Social-icon:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-Social-icon:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-Social-icon:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */


main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}



.section {
  margin: 0 auto;
  padding: 6rem 0 1rem;
}

.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}





.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.35s ease;
}
.header.on-scroll {
  background-color: white;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  width: 100%;
  height: 4.25rem;
  margin: 0 auto;
  background-color: white;
}



.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4rem 0 3rem;
  overflow: hidden;
  background-color:yellow;
  box-shadow:rebeccapurple;
  transition: all 0.4s ease-in-out;
}
.menu.is-active {
  top: 0;
  width: 100%;
  height: auto;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  list-style-type: none;  
}


@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 auto;
  }


}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 10;
  width: 1.75rem;
  height: 1rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}
@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}
.burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  transform: rotate(0deg);
  background-color: black;
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  right: -1.5rem;
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}




/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hero-img{
  position: relative;
  width: 100%;
  /* height: 100vh; */

}

.hero-main {
  position: relative;
  }

.hero-title {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 148.02%;
}

.hero-title2{
  position: absolute;
  top:85%;
  left:55%;
  margin-left: 200px;
  /* transform: translate(-50%,-50%); */
  margin: 0;
  padding: 0;

}

.hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: stretch;
}

.hero-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.hero-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.hero-button-left{
  text-transform: uppercase;
  font-family: 'Roboto';
  background-color: #FF0000;
  color: white;
  padding: 6px 50px 6px 50px;
  border-radius: 50px;
  font-size:14px;
  font-weight: 600;

}

.hero-button-right{
  text-transform: uppercase;
  font-family: 'Roboto';
  background-color: white;
  color: #FF0000;
  padding: 6px 50px 6px 50px;
  border-radius: 50px;
  font-size:14px;
  font-weight: 600;


}